*{margin: 0;padding: 0;}
ul,li{padding: 0;list-style: none;}
body{width: 99%; height:100%;  font-size: 12px; font-family:"lucida Grande",Verdana;font-weight: normal;text-decoration: none;}
img{border: 0;}